[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
bind-address=127.0.0.1
user=mysql
# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).
old_passwords=1
key_buffer_size =500M
open_files_limit=20000
query_cache_limit = 2M
query_cache_size = 128M
query_cache_type = 1 
table_cache = 40000
concurrent_insert=2
#skip-innodb
#skip-bdb
max_allowed_packet=500M
# rem in percona 5.5
#default-character-set=utf8 
tmp_table_size=256M
max_heap_table_size=256M
max_connections=250
max_user_connections=25
low_priority_updates=1
wait_timeout= 300
interactive_timeout =600
 
#extra tunning
#join_buffer_size=128M
thread_cache_size=30
tmpdir="/dev/shm/"
 
 
#innodb
innodb_log_buffer_size = 80M
innodb_max_dirty_pages_pct = 90
innodb_log_file_size = 64M
innodb_file_per_table = 1
innodb_data_file_path = "ibdata1:10M:autoextend"
innodb_autoextend_increment = 8
innodb_open_files = 600360
open_files_limit  = 600360
# Set buffer pool size to 50-80% of your computer's memory
innodb_buffer_pool_size = 8000M
innodb_additional_mem_pool_size=1024M
innodb_flush_log_at_trx_commit=2
innodb_thread_concurrency=30
#unkoment for recovery
#innodb_force_recovery=2
#innodb_purge_threads=0

default-storage-engine=innodb
 
skip-external-locking
 
#percona tweaks
#rem in percona 5.5
#userstat_running=1
#percona 5.5 tweaks
userstat=1

#innodb_flush_method=O_DIRECT
#innodb_flush_method=ALL_O_DIRECT
innodb_support_xa=0
innodb_thread_sleep_delay=100

#extra tunning
transaction-isolation=READ-COMMITTED

 
#general_log=1
[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
 
 
 
[mysql]
 
default-character-set=utf8

[mysqldump]
max_allowed_packet=200M
